* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}
body {
    overflow: hidden;
}
$cl1: #3c6e71;
$cl2: #284b63;
$cl3: #d9d9d9;
$cl4: #353535;
h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}

.header {
    font-size: 24px;
    color: #fff;
    letter-spacing: 1px;
    padding: 5px 15px;
    background: $cl4;
}

.main {
    display: flex;
    flex: 1 1 auto;
    @media (max-width: 1000px) {
        & {
            flex-direction: column-reverse;
            position: relative;
        }
    }
}
.canvas {
    flex: 1 1 auto;
    position: relative;
    background-color: #e9ecef;
    overflow: auto;
    padding: 10px 0px;
    
    #canvas {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #fff;
        position: absolute;
        width: 96%;
    }
}
#bufer {
    position: absolute;
    display: none;
}
[class*=__mobile-icon]{
    display: none;
    align-self: start;
}
.mobile-button-box{
    display: none;
}
.draw-settings {
    padding: 10px 15px;
    background: $cl3;
    font-size: 22px;
    box-sizing: border-box;
    height: 100%;
    .item__title {
        margin-bottom: 10px;
    }
    &__slider-control {
        display: flex;
        gap: 5px;
        .slider-control {
            position: relative;
            flex: 1 1 auto;
            &__line {
                height: 8px;
                width: 100%;
                background-color: #fff;
                border-radius: 4px;
            }
            &__circal {
                height: 15px;
                width: 15px;
                border-radius: 50%;
                cursor: pointer;
                background-color: $cl4;
            }
            * {
                content: "";
                position: absolute;
                top: 0px;
                bottom: 0px;
                margin: auto 0;
            }
        }
        .slider-control__value {
            font-size: 15px;
        }
    }
}


.tools{
    display: flex;
    align-items: center;
    gap: 10px;
    img{
        width: 35px;
        height: 35px;
    }
}


.line-preview-box {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    canvas {
        width: 100%;
        height: 70px;
    }
}

.menu{
    align-self: center;
    margin-left: auto;
    position: relative;
    width:30px;
    height: 20px;
    span{
        top: 0;
        bottom: 0;
        margin: auto;
    }
    &::before{
        top: 0;
    }
    &::after{
        bottom: 0;
    }
    span, &::before, &::after{
        position: absolute;
        content: "";
        right: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: #353535;
    }
    &.active{
        span{

        }
        &::before{
    
        }
        &::after{
    
        }
        span, &::before, &::after{
    
        }
    }
}

.draw-settings{
    @media (max-width: 1000px) {
        & {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 3px 15px;
            position: absolute;
            top: 0;
            &.active{
                height: 100%;
            }
            [class*=menu-box]{
                display: none;
            }
            &__contant{
                flex: 1 1 auto;
            }
            .draw-settings__section{
                margin-bottom: 0;
                position: absolute;
                top: -100000px;
                left: -100000px;
                &.active{
                    position: static;
                    display: block;
                }
            }
            .mobile-button-box{
                display: flex;
            }
            .menu{
                display: block;
            }

            [class*=__mobile-icon]{
                display: block;
                padding: 8px;
                transition: background-color 0.5s ease;
                border-radius: 50%;
                img{
                    width: 28px;
                    height: 28px;
                }
                &:hover{
                    background-color: #B0B5BF;
                }
            }
            
        }
    }
    @media (max-width: 500px){
        &{
            gap: 0px;
        }
    }
}